{% extends "base.html" %}
{% block content %}

<ul class="topnav">
    <li><a href="/home">Home</a></li>
    <li><a class="active" href="/backtesting">Back testing</a></li>
    <li><a href="/portdomi">Investment Improvement</a></li>
    <li><a href="/port_construct">Portfolio Construction</a></li>
    <li class="right"><a href="#about">Logout</a></li>
</ul>
<br>
<div class="myapp">
    <form action="/backtesting" method="post">
        <h1>Back Testing</h1>
        <p>Given a portfolio and a time horizon, the portfolio value, its return, and volatility are analyzed and presented.</p>
        <h3>Portfolio Specification</h3>
        <!--<table>
        <tr>
            <th>Assets</th>
            <th>Weight</th>
        </tr>

    </table>
    <button class="btn btn-primary"><a href="/asset">new asset</a></button>-->
        <!--<div class="container">
            <div class="row">
                <input type="hidden" name="count" value="1" />
                <div class="control-group" id="fields">
                    <label class="control-label" for="field1">Nice Multiple Form Fields</label>
                    <div class="controls" id="profs">
                        <form class="input-append">
                            <div id="field"><input autocomplete="off" class="input" id="field1" name="prof1" type="text" placeholder="Type something" data-items="8" /><button id="b1" class="btn add-more" type="button">+</button></div>
                        </form>
                        <br>
                        <small>Press + to add another form field :)</small>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="container asset-container">
            <div class="row">
                <input type="hidden" name="count" value="1" />
                <div class="control-group" id="fields">
                    <label class="control-label" for="field1">Nice Multiple Form Fields</label>
                    <div class="controls" id="profs">
                        <div class="input-append">
                            <div id="field">
                                <input autocomplete="off" class="input form-control field1" name="asset1" type="text" placeholder="Asset Name" data-items="8" />
                                <input autocomplete="off" class="input form-control field1" name="weight1" type="number" placeholder="Asset Weight" data-items="8" />

                                <button id="b1" class="btn add-more" type="button">+</button>
                            </div>
                        </div>
                        <br>
                        <small>Press + to add another form field :)</small>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <h3>Time Horizon</h3>
        <table>
            <tr>
                <td>From <input type="text" name="starting_time"> YYYY/MM/DD</td>
                <td>To <input type="text" name="ending_time"> YYYY/MM/DD</td>
            </tr>
        </table>
        <br><br>

        <button class="button button1" onclick="alert('Are you sure you want to submit?')" style="float: right;">Submit</button>

        <br><br>
    </form>
</div>
<footer>
    <p class="copyright">© BlackBelt Team 2018</p>
</footer>
    
{% endblock %}
    <!--</body>
    </html>-->
