{% extends "base.html" %}
{% block content %}


<ul class="topnav">
    <li><a class="active" href="/home">Home</a></li>
    <li><a href="/backtesting">Back testing</a></li>
    <li><a href="/portdomi">Investment Improvement</a></li>
    <li><a href="/port_construct">Portfolio Construction</a></li>
    <li class="right"><a href="/login">Logout</a></li>
</ul>
<br>
<div class="myapp">
    <h1>Hello {{ email }}</h1>
    <h2>Welcome to Black Belt investment robo-advisor!</h2>
    <h3>Please select one of three functionalities from the horizontal navigation bar or from this table</h3>
    <table>
        <tr>
            <th>Functionality</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
        <tr>
            <td>Back testing</td>
            <td>Get portfolio value based on historical data</td>
            <td><a href="/backtesting">Back Testing</a></td>
        </tr>
        <tr>
            <td>Investment Improvement</td>
            <td>Given a portfolio, create a better portfolio</td>
            <td><a href="/portdomi">Investment Improvement</a></td>
        </tr>
        <tr>
            <td>Portfolio Construction</td>
            <td>Given a return goal, create a portfolio</td>
            <td><a href="/port_construct">Portfolio Construction</a></td>
        </tr>
    </table>

</div>
<footer>
    <p class="copyright">© BlackBelt Team 2018</p>
</footer>
{% endblock %}
<!--</body>
</html>-->