/*#login-form {
    margin-top: 25px;
}

.page-form {
    max-width: 480px;
}
*/

h1 {
    margin: 1em 0;
}

footer {
    padding-top: 2em;
}

body {
    margin: 0;
    background-color:#333333;
}

div.myapp {
    background-color: lightgrey;
    width: 80%;
    border: 25px solid #666666;
    padding: 25px;
    margin: auto;
}

.input{
    max-width : 200px;
    display: inline-block;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #131314;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    ul.topnav li a:hover:not(.active) {
        background-color: #59595b;
    }

    ul.topnav li a.active {
        background-color: #a6a6a6;
    }

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

footer {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: #333333;
}

p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom: 0;
}

button {
    background-color: #666666;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    border-radius: 30%;
    font-size: 24px;
    padding: 8px;
}